<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>


    <h1>All Recipes</h1>
    
    <table border="1" background-color="blue">
		<tr>
			
			<th>Id</th>
			<th>Title</th>
			<th>Preparaiton Time</th>
			<th>Cook Time</th>
		</tr>
		
		<tr th:each="recipe : ${recipes}">
			<td th:text="${recipe.id}"></td>
			<td th:text="${recipe.title}"></td>
			<td th:text="${recipe.preTime}"></td>
			<td th:text="${recipe.cookTime}"></td>
			
		</tr>
		
	</table>
    
    
</body>
</html>